@font-face {
  font-family: 'ProximaNova';
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.svg#wf) format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.svg#wf) format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova-Semibold.woff2") format("woff2"), url("../fonts/ProximaNova-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.svg#wf) format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?e7ucee#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?e7ucee") format("truetype"), url("../fonts/icomoon.woff?e7ucee") format("woff"), url("../fonts/icomoon.svg?e7ucee#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconfinder_google-plus_326652:before {
  content: "\e900";
}

.btn__primary {
  text-align: center;
}

.btn__primary a:focus {
  -webkit-box-shadow: 2px 2px 2px 2px #9f9acf;
          box-shadow: 2px 2px 2px 2px #9f9acf;
}

.btn__primary a:active {
  -webkit-box-shadow: 3px 3px 3px 3px #9f9acf;
          box-shadow: 3px 3px 3px 3px #9f9acf;
}

.button__primary {
  color: #7d7a7c;
  font-family: "PT Sans";
  font-size: 20px;
  font-style: italic;
  border: 1px solid #7d7a7c;
  margin-left: 5px;
  padding: 11px 51px;
}

.button__primary:hover {
  background-color: #9f9acf;
  color: #ebebeb;
  text-decoration: none;
}

.btn__secondary {
  margin-top: 85px;
}

.btn__secondary a:focus {
  -webkit-box-shadow: 2px 2px 2px 2px #8880d3;
          box-shadow: 2px 2px 2px 2px #8880d3;
}

.btn__secondary a:active {
  -webkit-box-shadow: 3px 3px 3px 3px #8880d3;
          box-shadow: 3px 3px 3px 3px #8880d3;
}

.button__secondary {
  color: #fff;
  font-family: "PT Sans";
  font-style: italic;
  border: 1px solid #fff;
  padding: 11px 46px;
  font-size: 20px;
  line-height: 1.4;
}

.button__secondary:hover {
  background-color: #ebebeb;
  color: #9f9acf;
  text-decoration: none;
}

.button__submit {
  border-radius: 4px;
  background-color: #9f9acf;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  border: none;
  margin-top: 50px;
  margin-left: 4px;
  padding: 21px 70px;
  line-height: 1.2;
  letter-spacing: 0.5px;
  -webkit-box-shadow: 0 4px 0 #8783b0;
          box-shadow: 0 4px 0 #8783b0;
}

.button__submit:hover {
  background-color: #938ec7;
  text-decoration: none;
}

.button__submit:focus {
  -webkit-box-shadow: 2px 2px 2px 2px #4031c4;
          box-shadow: 2px 2px 2px 2px #4031c4;
}

.socials__link {
  color: #9f9acf;
  text-decoration: none;
  position: relative;
  margin: 0 20px;
}

.socials__link:hover {
  color: #665f60;
  text-decoration: none;
}

.socials__link:focus {
  color: #000;
}

.socials__link--4 {
  margin: 0 14px;
}

.socials__link > i {
  position: relative;
  z-index: 2;
  font-size: 20px;
  margin-top: 3px;
}

.socials__link::after {
  content: '';
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: #ebebeb;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

.header {
  position: relative;
  z-index: 2;
  background-color: #9f9acf;
  padding-top: 380px;
  padding-bottom: 502px;
}

@media (max-width: 992px) {
  .header {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

.header::after {
  content: '';
  opacity: .5;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-image: url(../img/Header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  display: block;
  z-index: 1;
}

.header__title {
  position: relative;
  z-index: 3;
  font-family: "ProximaNova";
  font-weight: 700;
  color: #fefefb;
  text-transform: uppercase;
  font-size: 72px;
  padding-top: 8px;
  letter-spacing: -0.5px;
  padding-bottom: 7px;
}

@media (max-width: 768px) {
  .header__title {
    font-size: 2.4rem;
  }
}

.header__subtitle {
  position: relative;
  z-index: 3;
  font-family: "PT Sans";
  font-weight: 300;
  color: #fefefb;
  font-size: 30px;
}

@media (max-width: 768px) {
  .header__subtitle {
    font-size: 1.4rem;
  }
}

.header__align {
  margin-left: -8px;
}

.nav-wrapper {
  position: fixed;
  top: 0;
  z-index: 100;
  padding: 39px 230px 25px;
}

@media (max-width: 1150px) {
  .nav-wrapper {
    padding: 39px 50px 25px;
  }
}

.logo {
  margin-left: 14px;
  margin-top: -2px;
}

.logo a {
  padding: 25px 0;
}

.logo a:focus {
  -webkit-box-shadow: 2px 2px 2px 2px #9f9acf;
          box-shadow: 2px 2px 2px 2px #9f9acf;
}

.navigation {
  margin-top: 8px;
  margin-right: 2px;
}

@media (max-width: 1150px) {
  .navigation {
    display: none;
  }
}

.nav__item {
  margin-right: 12px;
}

.nav__item:first-child {
  margin-right: 8px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__item a:focus {
  -webkit-box-shadow: 2px 2px 2px 2px #9f9acf;
          box-shadow: 2px 2px 2px 2px #9f9acf;
}

.nav__link {
  color: #fefefb;
  font-family: "ProximaNova";
  font-weight: 400;
  font-size: 24px;
  padding: 2px 10px;
  display: block;
}

.nav__link:hover {
  text-shadow: 1px 1px 1px #fefefb;
  color: #fefefb;
  text-decoration: underline;
}

.nav__wrapper {
  position: relative;
  z-index: 20;
}

.section__about {
  padding-top: 99px;
  padding-bottom: 99px;
}

@media (max-width: 992px) {
  .section__about {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.about-us {
  position: relative;
  z-index: 1;
  background-color: #9f9acf;
  padding: 75px 0 337px;
  margin: 25px 0 0 -30px;
}

@media (max-width: 767px) {
  .about-us {
    padding: 75px 0 100px;
    margin: 0;
  }
}

.about-us::after {
  content: '';
  opacity: .5;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-image: url(../img/About-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 15%;
  height: 100%;
  width: 100%;
  display: block;
  z-index: 1;
}

.about-us__img {
  position: relative;
  z-index: 3;
  padding-bottom: 35px;
}

.about-us__title {
  position: relative;
  z-index: 3;
  color: #fefefb;
  font-family: "ProximaNova";
  font-weight: 600;
  font-size: 36px;
  margin-left: 3px;
  margin-top: 2px;
}

@media (max-width: 768px) {
  .about-us__title {
    font-size: 2rem;
  }
}

.about-us__content {
  margin-top: 96px;
  line-height: 1.2;
  color: #665f60;
  font-family: "PT Sans";
  font-size: 20px;
  margin-bottom: 102px;
}

@media (max-width: 991px) {
  .about-us__content {
    margin-top: 30px;
    margin-bottom: 50px;
  }
}

.about-us__content--1 {
  padding-bottom: 9px;
}

.about-us__content--2 {
  word-wrap: break-word;
  letter-spacing: -0.07px;
  line-height: 1.2;
}

@media (max-width: 767px) {
  .about-container {
    max-width: 100%;
  }
}

.services__panel {
  padding: 98px 0 118px 0;
  margin: 21px 20px 0 -30px;
}

@media (max-width: 992px) {
  .services__panel {
    margin: 0;
  }
}

@media (max-width: 991px) {
  .services__panel {
    padding: 30px 0 40px 0;
  }
}

.services__icon {
  padding-bottom: 25px;
}

.services__title {
  color: #fefefb;
  font-family: "ProximaNova";
  font-size: 36px;
  font-weight: 600;
  padding-bottom: 97px;
}

@media (max-width: 991px) {
  .services__title {
    padding-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .services__title {
    font-size: 2rem;
  }
}

.services__img {
  padding-bottom: 26px;
}

.services__blockquote {
  color: #fefefb;
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 1.2;
}

.services__blockquote--author {
  margin-top: -14px;
}

.services__subtitle {
  color: #665f60;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 13px;
}

.services__text {
  color: #665f60;
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 1.1;
}

.services__main {
  position: relative;
  z-index: 1;
  background-color: #9f9acf;
  padding: 115px 0 368px;
  margin: 21px -30px 0 -10px;
}

@media (max-width: 992px) {
  .services__main {
    margin: 0;
    padding-bottom: 326px;
  }
}

@media (max-width: 991px) {
  .services__main {
    padding: 50px 0 100px;
  }
}

.services__main::after {
  content: '';
  opacity: .5;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-image: url(../img/Services-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 62%;
  height: 100%;
  width: 100%;
  display: block;
  z-index: -1;
}

@media (max-width: 992px) {
  .services-container {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
}

.design,
.mobile {
  background-color: #dbdbdb;
}

.web {
  margin-left: -10px;
}

.web__subtitle {
  margin-bottom: 10px;
}

.web__text {
  line-height: 1.2;
}

.seo {
  margin: -12px 20px 0 -30px;
}

@media (max-width: 992px) {
  .seo {
    margin: 0;
  }
}

@media (max-width: 991px) {
  .seo {
    padding: 30px 0 40px 0;
  }
}

.seo__text {
  line-height: 1.15;
}

.mobile {
  margin: 0px 10px 0 -20px;
  padding: 85px 0 133px 0;
}

@media (max-width: 992px) {
  .mobile {
    margin: 0;
  }
}

@media (max-width: 991px) {
  .mobile {
    padding: 30px 0 40px 0;
  }
}

.mobile__text {
  line-height: 1.15;
}

.section__works {
  position: relative;
  z-index: 1;
  background-color: #9f9acf;
  padding: 49px 0 73px;
}

.section__works::after {
  content: '';
  opacity: .05;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-image: url(../img/Works-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 100%;
  width: 100%;
  display: block;
  z-index: -1;
}

.works-img {
  padding-bottom: 29px;
}

.slick-list {
  padding-top: 130px;
}

.regular .slick-list {
  padding-top: 0;
}

.works-title {
  color: #fefefb;
  font-family: "ProximaNova";
  font-weight: 600;
  font-size: 36px;
}

@media (max-width: 768px) {
  .works-title {
    font-size: 2rem;
  }
}

.slide {
  position: relative;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .slide img {
    max-width: 90%;
    height: auto;
  }
}

@media (max-width: 568px) {
  .slide img {
    width: 90%;
  }
}

.prev {
  position: absolute;
  top: 44.6%;
  left: 152px;
  z-index: 2;
  padding: 10px;
  cursor: pointer;
}

.prev:hover {
  opacity: .7;
}

.prev:focus {
  -webkit-box-shadow: 2px 2px 2px 2px #8880d3;
          box-shadow: 2px 2px 2px 2px #8880d3;
}

.prev:active {
  -webkit-box-shadow: 3px 3px 3px 3px #8880d3;
          box-shadow: 3px 3px 3px 3px #8880d3;
}

@media (max-width: 1200px) {
  .prev {
    left: 30px;
  }
}

@media (max-width: 768px) {
  .prev {
    display: none;
  }
}

.next {
  position: absolute;
  top: 44.6%;
  right: 158px;
  z-index: 2;
  padding: 10px;
  cursor: pointer;
}

.next:hover {
  opacity: .7;
}

.next:focus {
  -webkit-box-shadow: 2px 2px 2px 2px #8880d3;
          box-shadow: 2px 2px 2px 2px #8880d3;
}

.next:active {
  -webkit-box-shadow: 3px 3px 3px 3px #8880d3;
          box-shadow: 3px 3px 3px 3px #8880d3;
}

@media (max-width: 1200px) {
  .next {
    right: 30px;
  }
}

@media (max-width: 768px) {
  .next {
    display: none;
  }
}

.section__team {
  padding: 53px 0 97px 0;
  background-color: #ebebeb;
}

@media (max-width: 768px) {
  .section__team {
    padding-bottom: 30px;
  }
}

.team-img {
  padding-bottom: 27px;
}

.team-title {
  color: #665f60;
  font-family: "ProximaNova";
  font-weight: 600;
  font-size: 36px;
  margin-left: -3px;
  padding-bottom: 41px;
}

@media (max-width: 768px) {
  .team-title {
    padding-bottom: 10px;
    font-size: 2rem;
  }
}

.team-prev {
  position: absolute;
  top: 54%;
  left: -6.7%;
  z-index: 2;
  padding: 10px;
  cursor: pointer;
}

.team-prev:hover {
  opacity: .7;
}

.team-prev:focus {
  -webkit-box-shadow: 2px 2px 2px 2px #8880d3;
          box-shadow: 2px 2px 2px 2px #8880d3;
}

.team-prev:active {
  -webkit-box-shadow: 3px 3px 3px 3px #8880d3;
          box-shadow: 3px 3px 3px 3px #8880d3;
}

@media (max-width: 1280px) {
  .team-prev {
    left: 2%;
  }
}

@media (max-width: 768px) {
  .team-prev {
    display: none;
  }
}

.team-next {
  position: absolute;
  top: 54%;
  right: -6.5%;
  z-index: 2;
  padding: 10px;
  cursor: pointer;
}

.team-next:hover {
  opacity: .7;
}

.team-next:focus {
  -webkit-box-shadow: 2px 2px 2px 2px #8880d3;
          box-shadow: 2px 2px 2px 2px #8880d3;
}

.team-next:active {
  -webkit-box-shadow: 3px 3px 3px 3px #8880d3;
          box-shadow: 3px 3px 3px 3px #8880d3;
}

@media (max-width: 1280px) {
  .team-next {
    right: 2%;
  }
}

@media (max-width: 768px) {
  .team-next {
    display: none;
  }
}

.team-slick {
  max-width: 1140px;
  margin: auto;
}

.team {
  margin: 0 15px;
  width: 350px;
}

@media (max-width: 1024px) {
  .team {
    margin: 0 0.6%;
  }
}

.team__panel {
  position: relative;
  background-color: #fff;
  height: 287px;
  padding-top: 1px;
}

@media (max-width: 1024px) {
  .team__panel {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .team__panel {
    max-width: 100%;
  }
}

.team__img {
  position: relative;
}

.team__socials {
  background-color: #9f9acf;
  padding: 23px 0;
}

.team__socials a:focus {
  -webkit-box-shadow: 2px 2px 2px 2px #9f9acf;
          box-shadow: 2px 2px 2px 2px #9f9acf;
}

.team__socials a:active {
  -webkit-box-shadow: 3px 3px 3px 3px #9f9acf;
          box-shadow: 3px 3px 3px 3px #9f9acf;
}

.team__socials--4 {
  margin: 0 14px;
}

.team__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -106%);
          transform: translate(-50%, -106%);
}

.team__img {
  border-radius: 50%;
  border: 13px solid #ebebeb;
}

.team__title {
  color: #9f9acf;
  font-family: "ProximaNova";
  font-size: 24px;
  font-weight: 700;
  position: relative;
  top: 162px;
  padding-bottom: 12px;
}

.team__job {
  color: #665f60;
  font-family: "PT Sans";
  font-size: 24px;
  font-weight: 400;
  position: relative;
  top: 160px;
}

.section__contact {
  position: relative;
  z-index: 1;
  overflow-x: hidden;
}

.map {
  position: relative;
  height: 900px;
  z-index: 1;
}

@media (max-width: 767px) {
  .map {
    height: 1200px;
  }
}

.map > div {
  opacity: .5;
}

.map::after {
  content: '';
  background-color: #9f9acf;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  min-height: 900px;
  width: 100%;
}

@media (max-width: 767px) {
  .map::after {
    height: 1200px;
  }
}

.contact {
  position: absolute;
  top: 0;
  z-index: 3;
  left: 50%;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
}

@media (max-width: 767px) {
  .contact {
    top: 7%;
  }
}

.contact__img {
  padding-bottom: 18px;
  padding-top: 56px;
}

.contact__title {
  color: #fff;
  font-family: "ProximaNova";
  font-weight: 600;
  font-size: 36px;
  margin-left: 3px;
}

@media (max-width: 768px) {
  .contact__title {
    font-size: 2rem;
  }
}

.adress {
  position: absolute;
  top: 24.4%;
  right: 0;
  z-index: 3;
  margin-right: -258px;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

@media (max-width: 1199px) {
  .adress {
    top: 0;
  }
}

@media (max-width: 767px) {
  .adress {
    top: 42%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media (max-width: 600px) {
  .adress {
    width: 90%;
  }
}

.adress__icon {
  position: relative;
}

.adress__icon--img {
  padding: 27px;
}

.adress__icon::after {
  content: '';
  position: absolute;
  width: 91px;
  height: 91px;
  background-color: #9f9acf;
  top: 0;
  left: 0;
  z-index: -1;
}

.adress__content {
  padding: 9px 37px 0 40px;
  width: 100%;
  background-color: rgba(235, 235, 235, 0.5);
}

@media (max-width: 767px) {
  .adress__content {
    min-height: 90px;
  }
}

@media (max-width: 380px) {
  .adress__content {
    padding: 0px;
  }
}

.adress__content--text {
  font-size: 18px;
  font-family: "PT Sans";
  line-height: 1.25;
  letter-spacing: -0.1px;
  margin-top: 2px;
  margin-right: -3px;
  margin-bottom: 0;
}

.phone {
  position: absolute;
  top: 34.4%;
  right: 0;
  z-index: 3;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  margin-right: -258px;
  cursor: pointer;
}

@media (max-width: 1199px) {
  .phone {
    top: 10%;
  }
}

@media (max-width: 767px) {
  .phone {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media (max-width: 600px) {
  .phone {
    width: 90%;
  }
}

.phone__icon {
  position: relative;
}

.phone__icon--img {
  padding: 28px 37px 28px 37px;
}

.phone__icon::after {
  content: '';
  position: absolute;
  width: 91px;
  height: 90px;
  background-color: #9f9acf;
  top: 0;
  left: 0;
  z-index: -1;
}

.phone__content {
  padding: 9px 66px 0;
  width: 100%;
  margin-left: -2px;
  background-color: rgba(235, 235, 235, 0.5);
}

@media (max-width: 767px) {
  .phone__content {
    padding: 9px 0px 0 0px;
    width: 100%;
    min-height: 90px;
  }
}

.phone__content--text {
  font-size: 18px;
  font-family: "PT Sans";
  line-height: 1.25;
  letter-spacing: -0.1px;
  margin-top: 20px;
  margin-right: -3px;
  margin-bottom: 0;
}

.phone__content--text a {
  color: #212529;
  text-decoration: none;
}

.phone__content--text a:hover {
  color: #665f60;
  text-decoration: underline;
}

.phone__content--text a:focus {
  -webkit-box-shadow: 2px 2px 2px 2px #9f9acf;
          box-shadow: 2px 2px 2px 2px #9f9acf;
}

.phone__content--text a:active {
  -webkit-box-shadow: 3px 3px 3px 3px #9f9acf;
          box-shadow: 3px 3px 3px 3px #9f9acf;
}

@-moz-document url-prefix() {
  .adress__content--text {
    margin-right: 2px;
  }
  .services__main {
    margin: 23px -30px 0 -10px;
  }
}

_:-ms-fullscreen, :root .adress__content--text {
  margin-right: 2px;
}

_:-ms-fullscreen, :root .services__main {
  margin: 23px -30px 0 -10px;
}

_:-ms-fullscreen, :root body {
  overflow-x: hidden;
}

/*----MS Edge Browser CSS Start----*/
@supports (-ms-ime-align: auto) {
  .adress__content--text {
    margin-right: -1px;
  }
  .services__main {
    margin: 23px -30px 0 -10px;
  }
  body {
    overflow-x: hidden;
  }
}

/*----MS Edge Browser CSS End----*/
.scroll {
  position: absolute;
  bottom: 5.5%;
  right: 8%;
  z-index: 3;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

@media (max-width: 767px) {
  .scroll {
    bottom: 2%;
    right: 8%;
  }
}

@media (max-width: 600px) {
  .scroll {
    display: none;
  }
}

.scroll:hover .scroll__icon {
  background-color: #9f9acf;
}

.scroll__link {
  text-decoration: none;
}

.scroll__icon {
  position: relative;
  z-index: 4;
  width: 84px;
  height: 84px;
  background-color: rgba(159, 154, 207, 0.5);
}

.scroll__icon--img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.wrapper-form {
  position: absolute;
  z-index: 3;
  width: 100%;
  top: 48.5%;
}

@media (max-width: 1199px) {
  .wrapper-form {
    top: 34%;
  }
}

@media (max-width: 767px) {
  .wrapper-form {
    top: 56%;
  }
}

.form__name, .form__email {
  border-radius: 4px;
  border: none;
  background-color: #ebebeb;
  opacity: .5;
  width: 416px;
  padding: 16px 0;
  padding-left: 25px;
  color: #fefefb;
}

.form__name:focus, .form__email:focus {
  background-color: #4031c4;
  -webkit-box-shadow: 2px 2px 2px 2px #9f9acf;
          box-shadow: 2px 2px 2px 2px #9f9acf;
}

.form__name:active, .form__email:active {
  background-color: #4031c4;
  -webkit-box-shadow: 3px 3px 3px 3px #9f9acf;
          box-shadow: 3px 3px 3px 3px #9f9acf;
}

@media (max-width: 1200px) {
  .form__name, .form__email {
    width: 100%;
  }
}

.form__name {
  margin-left: 30px;
  margin-bottom: 32px;
}

@media (max-width: 1200px) {
  .form__name {
    margin: 0;
    margin-bottom: 30px;
  }
}

.form__email {
  margin-left: -26px;
}

@media (max-width: 1200px) {
  .form__email {
    margin: 0;
    margin-bottom: 40px;
  }
}

.form__comment {
  border-radius: 4px;
  border: none;
  background-color: #ebebeb;
  opacity: .5;
  width: 860px;
  margin-left: -15px;
  padding-bottom: 10px;
  margin-top: -3px;
  resize: both;
  position: relative;
  z-index: 1;
  padding-top: 20px;
  padding-left: 25px;
  color: #fefefb;
}

.form__comment:focus {
  background-color: #4031c4;
  -webkit-box-shadow: 2px 2px 2px 2px #9f9acf;
          box-shadow: 2px 2px 2px 2px #9f9acf;
}

.form__comment:active {
  background-color: #4031c4;
  -webkit-box-shadow: 3px 3px 3px 3px #9f9acf;
          box-shadow: 3px 3px 3px 3px #9f9acf;
}

@media (max-width: 1200px) {
  .form__comment {
    width: 100%;
    margin-left: 0;
  }
}

.wrap {
  position: relative;
  display: inline-block;
  margin-left: 20px;
}

@media (max-width: 1200px) {
  .wrap {
    width: 100%;
    margin-left: 0;
  }
}

.wrap::after {
  content: "";
  border-top: 10px solid #D9D7E5;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  z-index: 1;
  opacity: 1;
  position: absolute;
  right: -6px;
  bottom: 5px;
  pointer-events: none;
}

.pull-tab {
  height: 0px;
  width: 0px;
  background-image: url(../img/resizer.png);
  width: 12px;
  height: 12px;
  position: absolute;
  bottom: 13px;
  right: 8px;
  pointer-events: none;
  z-index: 2;
}

.name-wrap, .email-wrap {
  position: relative;
}

.name-label, .email-label, .comment-label {
  position: absolute;
  color: #fff;
  z-index: 2;
  font-size: 18px;
  pointer-events: none;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

@media (max-width: 768px) {
  .name-label, .email-label, .comment-label {
    color: #000;
  }
}

.name-label {
  top: 15px;
  left: 56px;
  letter-spacing: -1px;
}

@media (max-width: 1200px) {
  .name-label {
    left: 27px;
  }
}

.email-label {
  top: 15px;
  left: 27px;
  letter-spacing: -0.8px;
}

.comment-label {
  top: 13px;
  left: 9px;
  letter-spacing: -0.9px;
}

.required {
  color: #665f60;
}

.label-change {
  top: -30px;
}

.footer {
  padding: 53px 0 92px 0;
  background-color: #9f9acf;
}

@media (max-width: 768px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.footer__link {
  color: #fff;
  font-weight: 700;
}

.footer__link:focus {
  color: #000;
}

.footer__text {
  font-family: "PT Sans";
  font-size: 18px;
  color: #fff;
  padding-top: 21px;
  margin-left: 10px;
  letter-spacing: 0.3px;
}

.footer__socials {
  padding-top: 26px;
  margin-left: -5px;
}

@media (min-width: 768px) and (max-width: 1000px) {
  .footer__socials {
    margin-right: 50px;
  }
}

@media (max-width: 768px) {
  .footer__socials {
    padding-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .footer__copy {
    text-align: center;
  }
}

.color-black {
  background-color: #000;
}
/*# sourceMappingURL=style.css.map */